streamlit
pdfplumber
pandas
openpyxl
python_docx
PyMuPDF
pytesseract
Pillow
qrcode
reportlab
scikit-image
beautifulsoup4
opencv-python-headless
ddgs
huggingface_hub
rembg
onnxruntime
matplotlib
networkx
requests
scikit-learn
edge_tts
streamlit-mic-recorder
google-generativeai







